.button {
    display: flex;
    width: 30%;
    height: 40%;
    margin: 20px;
    border-radius: .25rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: red;
    color: #fff;
    transition: background-color .15s ease-in-out;
    font-size: 1rem;
    
}

.contenedor-button {
    width: 50%;
    display: flex;
    justify-content: center;
    height: 100%;
}
.button:hover{
    background-color: #E17979;
}

.button:active{
    background-color: #0062cc;   
}

.contenedor {
    width: 40%;
    height: 50%;
}

.card-productos { 
    border: black solid 1px;
}